include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/fjelltopp_security *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/fjelltopp_security/migration *.ini *.py *.mako
